$palette-purple: rgb(102, 51, 153);
$palette-red: rgb(255, 94, 91);
$palette-blue: rgb(62, 146, 204);
$palette-green: rgb(57, 115, 103);
$palette-gray: rgb(112, 135, 127);
$palette-white: rgb(255, 255, 255);
$palette-white80: rgba(255, 255, 255, 0.9);