/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

