@import '../../../variables';

.services-grid {
  height: calc(100% - 100px);
  & .row {
    height: 100%;
    & .service {
      border: 1px solid $palette-white;
      display: grid;
      justify-items: center;
      align-items: center;
      height: 25%;
      width: 100%;
      text-align: center;
    }
  }
}

